<h1>Listing Users</h1>

<h2>Reps</h2>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
<%= render collection: @org_reps, as: :user, partial: "user" %>
</table>

<p />

<h2>Volunteers</h2>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
<%= render collection: @volunteers, as: :user, partial: "user" %>
</table>

<p />

<%= link_to 'New User', new_user_path %>
